.achievement-text h5{
    margin-bottom: 15px;
    font-size: 20px;
    color: #ff7f47;
    font-family: "Quicksand",sans-serif;
    font-weight: 700;
}
.achievement-text h2{
    font-size: 44px;
    color: #262339;
    font-family: "Quicksand",sans-serif;
    font-weight: 700;
}
.card-styles{
         background-color: #304f47;
         color: #fff;
         text-align: center;
         padding: 30px;
         box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
         border-radius: 12px;
}
.card-text h5{
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}